@{
    ViewBag.Title = "Welcome to Admin page";
}
 <h2>@ViewBag.Title.</h2>

@if (HttpRuntime.Cache["LoggedInUsers"] != null) {
  List<string> LoggedOnUsers = (List<string>)HttpRuntime.Cache["LoggedInUsers"];
  if (LoggedOnUsers.Count > 0) {
    <div class="ChatBox">
      <h3>Currently logged in users:</h3>
      <ul>
        @foreach (string user in LoggedOnUsers)
        {
          <li>
            <div class="row">
              <div class="col-md-3">
                @Html.Encode(user)
              </div>
              <div class="col-md-2">
                @Html.ActionLink(linkText:  "Disconnect", actionName: "Disconnect", controllerName: "Home", routeValues: new { email = Html.Encode(user) }, htmlAttributes: null)
              </div>
            </div>
          </li>
        }
      </ul>
    </div>
  }
}
